.main__developers {
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
}
.developers__list {
  list-style: none;
}
.developers__item {
  margin: 5px;
}
.developer__card-container {
  border: solid 1px black;
  padding: 15px;
}
.create__developer-button {
  position: absolute;
  top: 20px;
  left: 20px;
}