@import "./variables.scss";
.info-container-zoom{
    border: 2px solid #F2F2F2;
    border-radius: 5px;
    width:350px;
    margin:30px;
    padding:15px;
    //display: flex;

}

.info-text{
    color:#B8B8B8;
}

.input-container{
    //display: flex;   
    margin: 20px 0;
    justify-content: space-around; 

}

.form-box{
    border: 2px solid #F2F2F2;
    border-radius: 5px;
    width:500px;
    margin:30px;
    padding:25px;
    font-size: $txt-t-body;
}
.inputs-form{
    font-size: $txt-t-body;
    padding: 8px 8px 8px 12px;
    border-radius: 5px;
    border: 1px solid $text-01;
    margin-left: 15px; 
    &:disabled{
        border: 1px solid $text-02;
        color:$text-02;
    }
  }

.statusbox{
    display: flex;
}