@import './variables.scss';

.header {
    height: 100px;
    display: flex;
    justify-content: space-between;
    align-items: center; 
    padding: 20px;
    background-color: $brand-03;
    border-bottom: 3px solid $text-00;
}
.titlepage{
    height: 1px;
    overflow: hidden;
    margin: 0px;
}
.header__logo-user {
    display: flex;
    justify-content: space-between;
}

.user {
    margin: 0;
    padding-right: 5px;
}