.main__login{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
}


.login__email-container{

}

.login__rol-container{
    margin-top: 30px;
}