//COLORES PRIMARIOS
$brand-01: #FF7900;
$brand-02: #0E3540;
$brand-03: #B8B8B8;
$inverse-01: #F2F2F2;
$field-01: #FFFFFF;
$ui-01: #575756;

//COLORES TEXTO
$text-00: #FF7900;
$text-01: #4D4D4E;
$text-02: #999999;
$text-03: #D3D3D3;
$text-04: #FFFFFF;

$AGILE: #e4af43;
$DEVOPS: #B92E52;
$DEVELOPMENT: #035762;
$UX: #086203;
$ko: #AE0000;

//FONTS

/* <link href="https://fonts.googleapis.com/css?family=Quicksand:300,400|Titillium+Web&display=swap" rel="stylesheet"> */

$font-family: 'Quicksand', sans-serif;
$font-family: 'Titillium Web', sans-serif;

$font-quicksand: 'Quicksand', sans-serif;
$font-titillium: 'Titillium Web', sans-serif;

//FONT-SIZES

//quicksand
$txt-q-giga: 55px;
$txt-q-mega: 40px;
$txt-q-titulo: 36px;
$txt-q-subtitulo: 32px;

//tillilium
$txt-t-titular: 27px;
$txt-t-titulo2: 20px;
$txt-t-pie-icono: 20px;
$txt-t-subtitulo2: 14px;

$txt-t-destacado: 18px;
$txt-t-body: 18px;
$txt-t-capacidades: 18px;
$txt-t-link:16px;
$txt-t-subtitulo-blog: 16px;
$txt-t-puesto: 14px;